.button {
	/* Originally #F3F3F3 */
	-fx-background-color: #C2C2C2;
}

.button:hover {
	-fx-background-color: #70C4A3;
}

.button:pressed {
	-fx-background-color: #DF6246;
}

.table-view .column-header,
.table-view .column-header-background .filler {
	-fx-cell-size: 20;
	-fx-background-color: #343855;
}

.table-view .column-header .label {
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-alignment: CENTER;
}

.table-view .cell {
	-fx-cell-size: 30;
	-fx-alignment: center-left;
	-fx-text-fill: #000000;
	-fx-alignment: CENTER_LEFT;
}

.table-view {
	-fx-background-color: transparent;
}

.table-row-cell:selected {
	-fx-background-color: #70C4A3;
}

.table-row-cell:selected .text {
	-fx-fill: #343855;
}

.table-row-cell {
    -fx-background-color: #F3F3F3;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/* Shape Stuff */
.Rectangle{
	-fx-fill: #F3F3F3; 
}


/* Tab Pane stuff */
.tab-pane {
	-fx-tab-max-height: 0;
}

.tab-pane .tab-header-area {
	visibility: hidden;
}